


  
  <div  *ngIf="errorMessage" class="alert alert-danger">
    <strong>Danger!</strong>{{errorMessage}}
  
    <button (click)="retry()">Retry </button>
  </div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group">
        <div *ngFor="let article of news" class="panel panel-primary">
          <div class="panel-heading">{{article.title}} </div>
          <div class="panel-body"> {{article.description}}</div>
          <img src="{{article.urlToImage}}"/>
        </div>
      </div>
    </div>
  </div>
</div>

